
.button:hover {background-color: #6dbdc3}

.orange:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.orange {
    background-color: rgba(64,64,64,0.2);
    border-radius: 5px;
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    font-family: 'Segoe UI';
    color: #e36a5c;
}

.orange:hover {
	background-color: #6dbdc3
}

.orangeActive {
		background-color: #3e8e41 !important;
		color: blue;
}

q {
    quotes: none;
}



#horizontalMenu {
    text-align: center;
    float: left;
}

#leftMenu {
    float: left;
    background: rgba(229, 229, 229, 0.64);
    border-radius: 5px;
}

.leftMenu ul {
list-style-type: none !important;

}

.leftMenuItem img {
	display: inline;
	font-family: 'Segoe UI' !important;
	color: #737373 !important;
	font-size: 1em;
}


.leftMenuItem a:active {
  transform: translateY(4px);
}